* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

body {
    margin: 0;
    display: flex;
}

header {
    display: inline-block;
    vertical-align: middle;
    justify-content: center;
    background: #4da9ff;
    display: inline-block;
}

section {
    display:inline;
    margin: auto;
    flex-direction: column;
    vertical-align: middle;
}

h1 {
    color: white;
    vertical-align: middle;
    display: inline-block;
    margin: .25em;
}

h2 {
    color: black;
    vertical-align: middle;
    display: inline-block;
    padding-left: 2em;
    margin: .25em;
}

h3 {
    margin: 0; 
}

footer {
    background: #4da9ff;
    display: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 80%;
    padding: 1em;
}

nav ul {
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
}

nav li {
    margin-right: 1em;
    height: 100%;
}

section li {
    display: inline;
    margin-right: 1em;
}

pre {
    font-size: 18px;
}

.experiencepic{
    display: flex;
    margin: 0;
    /* border: solid green; */
    margin-left: 0;
    margin-right: 0;
    width: 350px;
    height: 200px;
}

.experiencetext{
    margin: 0;
    /* border:solid red; */
    margin-left: 50px;
    margin-right: 0;
    height: 200px;
}

.noBullet {
    /* list-style: none; */
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.right {
    float: right
}

.left {
    justify-content: left;
    align-items: left;
}

.center {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.ProfilePic {
    border-radius: 7em;
    margin-right: 3em;
    margin-left: 1em;
}

.BioSection {
    display: flex;
    flex-direction: column;
    background: #f0f0f0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.ExpPics {
    margin-right: 5 em;
}

ul {
    /* border: dotted blue; */
}

li {
    /* border: dotted green; */
    margin-left: 0;
}